.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  transition: height 0.3s ease-in-out;
  border-top: 1px solid var(--border-color);
}

.footer.collapsed {
  height: 50px;
}

.footerContent {
  height: calc(100% - 30px);
  align-items: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.lastUpdated {
  font-size: 12px;
}

.instructions {
  text-align: right;
  margin-right: 20px;
  font-size: x-small;
}

.collapseButton {
  position: absolute;
  top: 5px;
  right: 20px;
  background: white;
  padding: 5px;
  border: none;
  cursor: pointer;
  color: black;
}

.collapsedContent {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.collapsedButton {
  flex: 1 1;
  max-width: 60%;
}

.expandButton {
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  padding: 20px;
  font-size: 25px;
} 

.extraInfo {
  font-size: 12px; /* Adjust font size as needed */
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (width <= 600px) { /* Adjust the max-width as needed for your mobile breakpoint */
  .footerContent {
    margin-top: 20px; /* Adjusted margin for mobile */
  }
}