.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  backdrop-filter: blur(5px);
  color: black;
}

.messageText {
  text-align: center;
  font-size: 15px;
}

.smallText {
  margin-top: 10px;
  font-size: 12px;
}

.content {
  width: 80%;
  flex-grow: 1;
  margin-bottom: 50px; /* for footer */
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.7);
}

.autosizer > div {
  display: flex;
  justify-content: center;
  overflow-x: hidden !important;

  & > div {
    position: relative;
  }
}

.mainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-top: 1px solid #ddd;
  height: 100px;
  & div {
    color: black;
    text-wrap: balance;
  }
}

.tabContainer {
  position: absolute;
  left: -10px;
  top: 200px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 10;
  width: 70px;
}

.tab {
  padding: 5px;
  border: none;
  border-radius: 8px;
  background: #f0f0f0;
  cursor: pointer;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  width: 70%;
  transition: background-color 0.2s;
}

.tab > span {
  margin-right: 3px;
}

.tab:hover {
  background: #e0e0e0;
}

.activeTab {
  background: #007bff;
  color: white;
  width: 100%
}

.activeTab:hover {
  background: #0056b3;
} 

.star {
  height: 20px;
}

.event > img, .shortlist > img, .pokedex > img, .trade > img {
  filter: invert(1);
}

.event.activeTab > img, .shortlist.activeTab > img, .pokedex.activeTab > img, .trade.activeTab > img {
  filter: unset;
}

.instructionsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: 100px;
  justify-content: center;
}

.instructions {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructionsTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: red;
} 

.tabHeader {
  margin-bottom: 10px;
}

.tabSubtitle {
  font-size: 14px;
  color: #A2B6B6;
} 
.tabTitle {
  font-size: 18px;
}
.tabTitleContainer {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-display: center;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loadingText {
  margin-top: 10px;
} 

.loadingPlaceholder {
  overflow: visible;
  padding: 10px;
}

.containerWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}


/* I need better names */
.containerContainer {
  flex-grow: 1;
  justify-content: center;
}