.modalContainer {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: black;
}

.modalContent {
  user-select: none; /* Prevents text selection */
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  max-width: 520px;
  
  display: flex;
  height: 300px;
  width: 520px;
  flex-direction: column;
  gap: 20px;
}

.infoBox {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right > button {
  align-self: center;
  justify-self: flex-start;
}

.left {
  flex: 1;
}

.bigImg {
  height: 250px;
  width: 250px;
  aspect-ratio: 1;
}

.modalName {
  font-size: 30px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.modalButton {
  margin-top: auto;
}

.shareButton {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  justify-content: center;
  
  height: 15px;
}

.shiny {
  color: #d5c440;
}

.modalNumber {
  font-size: 20px
}

@media (width <= 600px) {
  .infoBox {
    flex-direction: column;
    align-items: center;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .shareButton {
    margin-top: 10px;
  }
  .modalContent {
    max-width: 80vw;
    display: flex;
    height: 450px;
    width: 290px;
  }
} 