.pokeImgContainer {
  height: 100px;
  position: relative;
}

.pokeImg {
  border-radius: 125px;
  height: 100px;
  overflow: hidden;
  position: relative;
}

.shiny {
  z-index: 100;
  border-radius: 125px;
  background-color: white;
  position: absolute;
  width: 25px;
  right: 0;
  padding: 5px;
} 