.spinner {
    display: block;
    width: 100px;
    height: 100px;
    background: radial-gradient(circle at center, white 8px, black 9px 10px, white 11px 12px, black 13px 16px, transparent 17px),
      linear-gradient(to bottom, red 0 40px, black 41px 48px, white 49px 50px);
    border-radius: 50%;
    border: 4px solid black;
    box-shadow: inset -8px -4px 0 0 rgba(0, 0, 0, 0.2);
    animation: shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite, catch 0.5s ease-out 1.5s forwards;
    will-change: transform;
  }
  
  @keyframes shake {
    0%, 100% {
      transform: translateX(0) rotate(0);
    }
    20% {
      transform: translateX(-5px) rotate(-10deg);
    }
    30% {
      transform: translateX(5px) rotate(10deg);
    }
    50% {
      transform: translateX(-5px) rotate(-5deg);
    }
    60% {
      transform: translateX(5px) rotate(5deg);
    }
  }
  
  @keyframes catch {
    to {
      filter: saturate(0.8) brightness(0.8);
    }
  }
  